.header {
  :hover {
    color: $background;
  }
  &__strange {
    background-color: $black;
    color: $black;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 2rem;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;

    &__logo {
      color: $black;
      font-size: 3rem;
      :visited {
        color: $black;
      }
      :hover {
        color: $second;
      }
    }
    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      flex: wrap;
      a {
        color: $black;
      }
      :hover {
        color: $second;
      }
    }

    &__cart {
      :hover {
        color: $second;
      }
      &__icon {
        color: $black;
        font-size: 3rem;
      }
    }
  }
}
