.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.icons {
  width: 234px;
  height: 78px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
}
